.layout {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: white;
    min-height: 100vh;
    justify-content: center;
    min-width: 400px;
}

.blank {
    @media screen and (max-width: 720px){
        display: none;
    }
    /* width: 100%; */
    display: flex;
    flex: 1;

}

.form {
    padding: 40px 80px;
    max-width: 360px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.logo {
    font-size: xx-large;
    color: cadetblue;
    font-weight: 800;
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 50px 0px;
}

.label {
    color: #444444;
    font-size: x-large;
    font-weight: 600;
    margin: 0px 0px 50px 0px;
}
.buttons {
    display: flex;
    flex-direction: column;
    margin: 0px 0px 32px 0px;
    width: 100%;
    gap: 10px;
}
.login_button {
    color: #424242;
    background-color: white;
    font-family: "intel";
    font-weight: bold;
    padding: 8px 20px;
    border-color: #9c9c9c;
    border-width: 2px;
    border-radius: 5px;
    border-style: solid;
    font-size: small;
    cursor: pointer;
    text-align: center;
}
.checkbox {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.t1 {
    display: flex;
    flex: 1;
    flex-direction: row;
    gap: 10px;
}

.link {
    color: cadetblue;
    font-weight: 500;
    cursor: pointer;
}

.agree {
    font-size: smaller;
    color: #424242;
}