img {
    width: 100%;
    max-height: 100vh;
    object-fit: cover;
}

div {
    font-family: 'Poppins';
}

.layout {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: white;
    min-height: 100vh;
    justify-content: center;
    min-width: 400px;
}

.layout >.blank {
    /* height: auto;
    width: 100%; */
    background-color: aqua;
    display: flex;
    flex: 1;

    @media screen and (max-width: 720px){
        display: none;
    }


}

.layout >.form {
    padding: 40px 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    width: 50%;
    max-width: 500px;
    @media screen and (max-width: 720px){
        width: 100%;
    }
}

.form >.logo {
    font-size: xxx-large;
    color: cadetblue;
    font-weight: 800;
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 50px 0px;
}

.form >.label {
    color: #444444;
    font-size: x-large;
    font-weight: 600;
    margin: 0px 0px 50px 0px;
}

.form >.checkbox {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 10px;
    line-height: 20px;
    color: #8c8c8c;
}

.form >.t1 {
    display: flex;
    flex: 1;
    flex-direction: row;
    gap: 10px;
    text-align: center;
}

.t1 >.link {
    color: cadetblue;
    font-weight: 500;
    cursor: pointer;
}

.form >.agree {
    font-size: smaller;
    color: #424242;
}

.form >.buttons {
    display: flex;
    flex-direction: column;
    margin: 0px 0px 32px 0px;
    width: 100%;
    max-width: 320px;
    gap: 2vh;
}

.buttons >.login_button {
    color: #424242;
    background-color: white;
    padding: 10px 20px;
    border-color: #9c9c9c;
    border-width: 2px;
    border-radius: 5px;
    border-style: solid;
    font-size: small;
    cursor: pointer;
    text-align: center;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.login_button >.icon {
    position: absolute;
    width: 20px;
    height: 20px;
}

.login_button >.text {
    text-align: center;
    width: 100%;
}