.container {
    height: 100%;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container > .body {
    height: 2000px;
    width: 100%;
    min-height: 74vh;
    background-color: yellow;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container >.header {
    height: 6vh;
    width: 100%;
    /* background-color: gray; */
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    /* position: fixed;
    top: 0;
    left: 0; */

    position: sticky;
    top: 0;
    left: 0;
}

.container >.footer {
    height: 20vh;
    width: 100%;
    background-color: red;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}