.container {
    height: 100%;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container > .body {
    /* height: 2000px; */
    /* width: 100%; */
    min-height: 74vh;
    background-color: #f1f1f1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.container >.footer {
    height: 20vh;
    width: 100%;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.d-profile {
    display: flex;
    width: 100%;
    max-width: 960px;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;

    @media screen and (max-width: 720px){
        flex-direction: column;
        align-items: center;
    }
}

.avatar-circle {
    overflow: hidden;
    border-radius: 50%
}

.avatar-box {
    background-color: white;
    width: 25vh;
    height: 10%;
        border-radius: 4px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    padding: 30px 30px;
    gap: 15px;
}

.contents {
    background-color: white;
    border: 1px solid black;
    border-radius: 4px;

    height: 100%;

    @media screen and (min-width: 720px){
        width: 100%;
    }

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 30px;
}

.connect-social {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.C-facebook{
    display: flex;
    font-size: small;
    background-color: #3b5998;
    color: white;
    justify-content: center;
    padding: 12px;
    width: 50%;
    cursor: pointer;
    border-radius: 6px;
}
.C-google{
    display: flex;
    font-size: small;
    background-color: white;
    color: #222222;
    text-align: center;
    justify-content: center;
    padding: 12px;
    width: 50%;
    cursor: pointer;
    border-radius: 6px;
}

.d1 {
    font-size: xx-large;
    margin: 20px 0px;
}

.d2 {
    font-size: small;
    display: flex;
    align-items: center;
}

.ad {
    display: flex;
    /* width: 50%; */
    max-width: 450px;
    gap: 20px;
    flex-direction: column;
}

.swicth-c {
    background-color: white;
    border: 1px solid black;
    border-radius: 4px;
    display: flex;
    justify-content:space-between;
    padding: 15px;
    margin: 0px 0px 10px;
}

.pf-block {
    padding: 30px 0px 0px;
}

.account-close {
    background-color: #f5f8f9;
    color: red;
    width: 100px;
    text-align: center;
    border-radius: 1px;
    font-size:xx-small;
    font-weight: 500;
    cursor: pointer;
    padding: 10px;
    margin: 20px 0px;
    border-radius: 5px;
}

.d-button {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.cancel-button {
    display: flex;
    font-size: medium;
    background-color: white;
    color: #222222;
    text-align: center;
    justify-content: center;
    padding: 12px;
    cursor: pointer;
    border: 2px solid #9c9c9c;
    border-radius: 5px;
}

.y-button {
    display: flex;
    font-size: medium;
    background-color: #4c2;
    color: white;
    text-align: center;
    justify-content: center;
    padding: 12px;
    cursor: pointer;
    border: 2px solid #4c2;
    border-radius: 5px;
}